		<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

		<title>vi-ba-nmt</title>

		<!--js for radio button in radio_button html -->
		<script>
		function check()
		{
		var ele = document.getElementsByName('suggest');
		var flag=0;
		for(var i=0;i<ele.length;i++)
		{
    		if(ele[i].checked)
     		flag=1;
   
		} 
			if(flag==1)
		document.getElementById('choose').disabled=false;
		}
		</script>

	</head>

	<body>
		<div class = "content-section custom-control">
		<div>
			<img src="../static/images/LogoBK.jpg" alt="Logo Bách Khoa" style="height: 6em;">
		</div>
		<h1><a href="/">Viet-Bana Neural Machine Translation</a></h1>
		</div>
		{% block content %}{% endblock %}
		

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</body>
</html>
