{%extends "layout.html"%}
{%block content%}

		<div class="content-section">


		<form method="POST" action=" ">

		 {{ form.hidden_tag() }}
		<fieldset class = 'form-group'>

		<h3>Vietnamese sentence:</h3>
		<div class="form-group">
			{{form.word(class="form-control form-control-lg")}} 
		</div>

		<div class="form-group">
			{{ form.model }}
		</div>

		<div class ="form-group">
			{{form.submit( class ="btn btn-outline-info")}} 
		</div>

		</fieldset>

		<h5>{{error}}</h5>

		</form>
		
		<h3>Bana sentence:</h3>

		<div>{{bana_sentence}}</div>

		</div>
{% endblock content %}